<div *ngIf="article">
    <hr />
    <h2>{{article.id}} <small>Details</small></h2>
    <table class="table table-hover">
       <tr>
           <td>ID</td>
           <td>{{article.id}}</td>
       </tr>
       <tr>
          <td>TITLE</td>
          <td>{{article.title}}</td>
      </tr>   
      <tr>
          <td>IMAGE</td>
          <td><img src="{{article.image}}" alt="" style="width: 300px; height: 200px;"></td>
      </tr>
      <tr>
          <td>URL</td>
          <td>{{article.url}}</td>
      </tr>      
      <tr>
          <td><textarea [(ngModel)]="article.title"></textarea></td>
          <td><button class="btn btn-primary"(click)="goBack()">Go Back</button></td>
      </tr>
    </table>
  </div>