<table class="table table-hover">
  <thead>
    <th>ID</th>
    <th>TITLE</th>
    <th>IMAGE</th>
    <th>URL</th>
    <th colspan="1"></th>
  </thead>
  <tbody>
    <tr *ngFor="let article of articles" (click)="onSelected(article)">
      <th>{{ article.id }}</th>
      <td>{{ article.title }}</td>
      <td><img src="{{article.image}}" alt="" style="width: 300px; height: 200px;"></td>
      <td>{{ article.url }}</td>
      <td><app-like></app-like></td>
    </tr>
  </tbody>
</table>
<app-article-detail [article]="selectedArticle"></app-article-detail>